body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: $section-header-color;
}

.page-title {  
    h1 {
        color: white;
        font-weight: 500;   
    }
}

.brand {
    border-radius: 8px;
    padding:0px;
    height: 45px;
    width: 120px;
}

.title {
    font-weight: bolder;
}

.card-header-color {
    background-color: $card-head-color !important    
}

/* Create two unequal columns that floats next to each other */
.nav-column {
  float: left;
  padding: 10px;
  height: 65px;
  flex-wrap: nowrap;
}

.nav-left {
    align-items: center;
    display: flex;
    width: 15%;
}

.nav-right {
    align-items: center;
    display: flex;
    width: 85%;
}

/* Clear floats after the columns */
.nav-row:after {
  content: "";
  display: table;
  clear: both;
}


// override twitter bootstrap
@media (min-width: 57px) {
    .container {
        max-width: 95% !important; 
    }
}

/* Phone-size screens */
@media only screen and (max-width: 768px) {
    .nav-column {
        height: 50px;
    }

    .brand {
        height: 40px;
        width: 65px;
    }

    .page-title {
        h1 {
            float: left;
            font-size: 1.2em;
            padding-left:8px;
        }
    }
}