/*
Variables and functionality common to all stylesheets
*/

// colors
$vegan-color: #00FF00;
$vegetarian-color: #FF8000;
$raw-vegan-color: #0000FF;
$choice-award-top-color: #ccac00;
$choice-award-runner-up:  #008080;
$choice-award-gold-color: #DAA520;
$border-color: #D3D3D3;

