.button-link {
    background:none!important;
    border:none; 
    border-color: white;
    cursor: pointer;
    padding:0!important;
    text-decoration: none !important; 
    outline: none;  
}

.rounded-corner {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 10px;
}

.vertically-align-center {
    align-items:center;
    display:flex;
}