.button-link {
    background:none!important;
    border:none; 
    color:inherit;
    cursor: pointer;
    padding:0!important;
    text-decoration: none !important;   
}

.rounded-corner {
    border-radius: 25px;
    border: 1px solid $border-color;
    padding: 15px;
}

.vertically-align-center {
    align-items:center;
    display:flex;
}