.raw-vegan-token {
    color: $raw-vegan-color;
    font-weight: bold;
}

.vegan-token {
    color: $vegan-color; 
    font-weight: bold; 
}

.vegetarian-token {
    color: $vegetarian-color;
    font-weight: bold;
} 

.choice-award-top {
    color: $choice-award-top-color;
}

.choice-award-runner {
    color: $choice-award-runner-up;
}

.choice-award-gold {
    color: $choice-award-gold-color;
}

.restaurant-type {
    width: 500px;
}

.list-item {
    border-color: white;
    padding-left: 0;
}

.icon-shift-driving {
    margin-left: -5px;
}

.icon-shift-transit {
    margin-left: -7px;
}

.icon-shift-walking {
    margin-left: -8px;
}

.icon-shift-bicyle {
    margin-left: -15px;
}

