footer {
    background-color: $section-header-color;
    padding-top: 25px;
    margin-top: 15px;
}

.social-media {
    font-size: 50px !important;
}

.social-media-link {
    color: black;
}

footer .list-inline-item {
    margin-right: 1.6rem;   
}

footer a {
    color: black;
    text-decoration: underline;
}