.raw-vegan-token {
    color: #FF8000;
    font-weight: bold;
}

.vegan-token {
    color: #0000FF; 
    font-weight: bold; 
}

.vegetarian-token {
    color: #00FF00;
    font-weight: bold;
} 

.choice-award-runner {
    color: #008080;
}

.choice-award-top {
    color: #ccac00;
}

.choice-award-gold {
    color: #DAA520;
}