body {
	padding-top: 50px;  /* twitter bootstrap nav requires this so as to not overlay content*/
	background-image: url('http://chicagoveg.com/images/green_bg.jpg');
}

.header-text { 
	margin-top: 10px;
}

.brand {
	margin-top: -12px;
	height: 45px;
	width: 120px;
}

.contentHeader {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding:10px;
	overflow: auto;
}

.nav-listing {
	margin-right: 20px;
}

menuOption {
	padding-left:5%;
	padding-right:5%

}


menuOption a {
	font-weight: bolder;
	font-size: 1.2em;
	color: Black;
}

.pas { 
	padding: 2px;
}

.pam {
	padding: 5px;
}

.mbm {
	margin-bottom: 5px;
}

.whiteFont {
	color: white;
}

.bolder {
	font-weight: bolder; 
}

.legend {
	font-weight: bolder;
}

.displayInline {
	display:inline !important;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.orange {
	color: orange;
}


.userAddressTextBox {
	width: 145px;
	margin-bottom: 3px;
	padding-left: 1px; 
	padding-right: 1px;
}

.cityTextBox {
	width: 70px;
	margin-bottom: 3px;
	padding-left: 1px; 
	padding-right: 1px;
}

.stateDropDown {
	width: 45px;
	margin-bottom: 3px;
	padding-left: 1px; 
	padding-right: 1px;
}

.zipTextBox {
	width: 60px;
	margin-bottom: 3px;
	padding-left: 1px; 
	padding-right: 1px;
}

.fsler {
	font-size: larger;
}

.infoWindow {
	width: 100%;
	height:100%;
	white-space:nowrap;
}

.pointer {
	cursor: pointer;
}

.activeSorter {
	text-decoration: underline;
}

#map-canvas {
	height: 570px !important;
	width: 100% !important;
	margin: 0; 
	padding: 0;
}

.directions {
	width: 100%;
}

.restaurantListing-address {
	margin-bottom: 5px;
}

/* tablet  */
@media only screen and (max-width: 1100px) {
	#map-canvas {
		height: 570px !important;
		width: 100%important;
		margin: 0; 
		padding: 0;
	}
}


/* Phone-size screens */
@media only screen and (max-width: 768px) {
	#map-canvas {
		height: 350px !important; 
		width: 100% !important; 
		margin: 0; 
		padding: 0;
	}	

	.directions {
		overflow-x: scroll; 
		width: 100%;
	}
}
